{% extends 'usuario/dashboard.html' %}

{% block usuario_nav %}
    <li class="nav-item">
        <a href="{% url 'dash' %}" class="nav-link {% if 'solicitar' in request.path %}active{% endif %}">
            <ion-icon name="person-circle" size="large"></ion-icon>
            <p class="nav-link-text">
                Solicitar Intérprete
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'listado_atenciones' %}" class="nav-link {% if 'listado' in request.path or 'detalle' in request.path or 'modificar' in request.path %}active{% endif %}">
            <ion-icon name="reader" size="large"></ion-icon></ion-icon>
            <p class="nav-link-text">
                Listado Atenciones
            </p>
        </a>
    </li>
{% endblock %}