{% extends 'usuario/interprete/interpreteNav.html'%}
{% load humanize %}

{% block title %}Peticiones Activas{% endblock title %}
    
{% block content_title %}Peticiones Activas{% endblock %}

{% block pa %}active{% endblock %}

{% block content_breadcrumb %} 
    <li class="breadcrumb-item"><a href="{% url 'dash' %}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Peticiones Activas</li>

{% endblock %}

<!--
    Peticiones activas

-->

{% block content %}
<div class="card card-dark">
  <!-- Título -->
  <div class="card-header">
      <h3 class="card-title">Atenciones</h3>
  </div>
  <div class="card-body">
      <div id="tabla_atenciones_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
              <div class="col-sm-12">
                  <table id="tabla_atenciones" class="table table-bordered table-hover  " role="grid"
                      aria-describedby="tabla_atenciones_info">
                      <thead>
                          <tr role="row">
                              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                                  aria-label="ID">#</th>
                              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                                  aria-label="">Solicitante</th>
                              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                                  aria-label="">Especialidad</th>
                              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                                  aria-label="">Título</th>
                              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                                  aria-label="">Fecha de Solicitud</th>
                              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                                  aria-label="">Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for atencion in user.interprete.get_solicitudes_pendientes %}
                          <tr role="row" class="{% cycle 'odd' 'even' %}"
                              >
                              <td>{{atencion.id}}</td>
                              <td>{{atencion.solicitante}}</td>
                              <td>{{atencion.especialidad}}</td>
                              <td>{{atencion.titulo}}</td>
                              <td>{{atencion.fecha_creacion | naturaltime }}</td>
                              <td class="text-right py-0 align-middle">
                                      <div class="btn-group p-2 text-white">
                                          <button type="submit" name="view" class="btn btn-info" title="Ver detalles"> 
                                              <ion-icon name="eye" class="icon-s mt-1"></ion-icon>
                                          </button>
                                          <a href="{% url 'aceptar_atencion' atencion.pk %}" role="button" type="submit" class="btn btn-success" title="Aceptar solicitud">
                                              <ion-icon name="checkbox-outline" class="icon-s mt-1"></ion-icon>
                                          </a>
                                          <button type="submit" name="decline" class="btn btn-danger" title="Rechazar solicitud">
                                              <ion-icon name="close" class="icon-s mt-1"></ion-icon>
                                          </button>
                                      </div>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                      <tfoot>
                          <tr role="row">
                              <th rowspan="1" colspan="1">#</th>
                              <th rowspan="1" colspan="1">Solicitante</th>
                              <th rowspan="1" colspan="1">Especialidad</th>
                              <th rowspan="1" colspan="1">Título</th>
                              <th rowspan="1" colspan="1">Descripcion</th>
                              <th rowspan="1" colspan="1">Acciones</th>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
