html {
    width: 0 auto;
}

/** MODIFICACION BOOTSTRAP **/

.form-control {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.input-group {
    width: 70%!important;
    margin: 0 auto!important;
}

/** HEADER **/

.header {
    position: relative;
    width: 100vw;
    min-height: auto;
    height: 60vh;
    overflow: hidden;
}

.header-img {
    position: absolute;
    object-fit: cover;
    object-position: left;
    z-index: -1;
    width: 100vw;
    height: 60vh;
    filter: brightness(0.5)
}

.header-content {
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    min-height: inherit;
    height: inherit;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: 0 auto;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.header-nav button{
    margin-right: 1rem;
}

.header-logo {
    display: block;
    
    width: 20vw;
    margin: 0 auto;
}

.botones {
    width: 60%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1rem;
}

.botones:first-child {
    margin-top: .5rem !important;
}

.btn-ver-mas {
    margin: 0 auto;
    width: 40%;
}

.btn-ver-mas button {
    color: white;
    background-color: #ffc049 
}

.btn-ver-mas button:hover {
    color: white;
}

/** CONTENT **/

.content {
    padding-top: 1rem;
    width: 70%;
    margin: 0 auto;
}




