{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InterLancer | Contraseña restablecida</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/_dependencies.html' %}
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Inter</b>Lancer</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg" style="font-size: 1.5rem;">Contraseña cambiada !</p>
                <p class="login-box-msg">Su contraseña se ha cambiado! Inicie sesión con sus nuevas credenciales.</p>
                <a role="button" href="{% url 'login' %}" type="submit" class="btn btn-primary btn-block">Iniciar
                    Sesión</a>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</body>

</html>