{% extends 'template.html'%}

{% block title%}InterLancer - Inicio{% endblock %}

{% block content %}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ex delectus cum vero cumque ipsum at quo animi consequatur dolore quasi odio quos iure expedita, itaque natus sint ea repellendus. Pariatur ullam illum magnam, inventore recusandae necessitatibus! In quae accusamus deserunt fugiat recusandae mollitia ipsa similique quos molestiae accusantium at nihil molestias iste earum, assumenda totam quam, quo explicabo numquam?</p>

{% endblock %}



