{% extends 'template.html'%}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="row">
    {% for interprete in destacados%}
    
    <div class="col-md-6">
        <!-- Box Comment -->
        <div class="card card-widget elevation-2">
            <div class="card-header pb-0">
                <div class="user-block">
                    <img class="img-circle" src="{{interprete.avatar.url}}" alt="User Image">
                    <span class="username"><a href="#">{{interprete}}</a></span>
                    <span class="description">
                        <div class="rating ml--1">
                            {% for i in r %}
                                {% if i == interprete.calificacion %}
                                    <input type="radio" name="rating{{ forloop.parentloop.counter }}" value="{{i}}" id="{{i}}" checked="true" disabled="true"><label for="{{i}}">☆</label>
                                {% else %}
                                    <input type="radio" name="rating{{ forloop.parentloop.counter }}" value="{{i}}" id="{{i}}" disabled="true"><label for="{{i}}">☆</label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </span>
                </div>
                <!-- /.user-block -->
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><ion-icon class="icon-md"name="remove"></ion-icon></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <p>{{interprete.biografia}}</p>
                <p>Especialidades:</p>
                <ul>
                    {% for especialidad in interprete.especialidades.all %}
                        <li>{{especialidad}}</li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <!-- /.card -->
    </div>
    {% endfor %}

</div>

{% endblock %}