{% extends 'usuario/solicitante/solicitarInterprete.html' %}
{% load crispy_forms_tags %}

{% block atencion %}
    <div class="card card-dark">
        <div class="card-header">
            <h3 class="card-title">Solicitud {{intSolicitado}}</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary" value="Save">Solicitar!</button>
            </form>
        </div>
    </div>
{% endblock %}
