{% extends 'templateBase.html' %}
{% load static %}

{% block title %}Heptacore - Inicio{% endblock %}

{% block content %}
    <div class="content">
        <div class="carousel" id="portada">
            <div class="carousel__title"><span>Zapatillas</span></div>
            <div class="carousel__overlay"></div>
            <a href="#" class="carousel__control carousel__control--left"><i class="lnr lnr-chevron-left-circle"></i></a>
            <a href="#" class="carousel__control carousel__control--right"><i class="lnr lnr-chevron-right-circle"></i></a>
            <div class="carousel__selectors">
            </div>
            <div class="carousel__album">
                <ul class="carousel__list">
                    <li class="carousel__item carousel__fade"><img src="{% static 'img/carousel-1.jpg' %}" alt="Carousel 1" class="carousel__photo"></li>
                    <li class="carousel__item carousel__fade"><img src="{% static 'img/carousel-2.jpg' %}" alt="Carousel 2" class="carousel__photo"></li>
                </ul>
            </div>

            <ul class="carousel__list">

            </ul>

        </div>

        <section class="section-destacados">
            <h2 class="heading-secondary underlined">Productos Destacados</h2>
            <div class="productos-destacados">
                <div class="producto">
                    <div class="producto__title"><a class="producto__link" href="/detalleproducto">Zapatilla Nike</a></div>
                    <img src="{% static 'img/producto-1.jpg' %}" alt="Producto 1" class="producto__photo">
                    <div class="producto__detalle">
                        <button class="btn btn--primary">Agregar <i class="lnr lnr-cart"></i></button>
                        <span class="producto__precio">$99.999.990</span>
                    </div>
                </div>
                <div class="producto">
                    <div class="producto__title"><a class="producto__link" href="/detalleproducto">Zapatilla Nike</a></div>
                    <img src="{% static 'img/producto-1.jpg' %}" alt="Producto 1" class="producto__photo">
                    <div class="producto__detalle">
                        <button class="btn btn--primary">Agregar <i class="lnr lnr-cart"></i></button>
                        <span class="producto__precio">$99.999.990</span>
                    </div>
                </div>
                <div class="producto">
                    <div class="producto__title"><a class="producto__link" href="/detalleproducto">Zapatilla Nike</a></div>
                    <img src="{% static 'img/producto-1.jpg' %}" alt="Producto 1" class="producto__photo">
                    <div class="producto__detalle">
                        <button class="btn btn--primary">Agregar <i class="lnr lnr-cart"></i></button>
                        <span class="producto__precio">$99.999.990</span>
                    </div>
                </div>
                <div class="producto">
                    <div class="producto__title"><a class="producto__link" href="/detalleproducto">Zapatilla Nike</a></div>
                    <img src="{% static 'img/producto-1.jpg' %}" alt="Producto 1" class="producto__photo">
                    <div class="producto__detalle">
                        <button class="btn btn--primary">Agregar <i class="lnr lnr-cart"></i></button>
                        <span class="producto__precio">$99.999.990</span>
                    </div>
                </div>
            </div>
            <h2 class="heading-secondary underlined"></h2>
        </section>
        <!-- Componentes -->
        <!-- Input con icono
        <div class="input-group">
            <div class="input-group__icon">
                <i class="lnr lnr-user"></i>
            </div>
            <input type="text" placeholder="Placeholder" name="" id="" class="input-group__input">
        </div> -->

        <div class="video">
            <video preload autoplay loop muted>
                <source src="{% static 'video/Shoes-Stories.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
{% endblock %}